<p class="settings-header">Tx settings</p>
<div class="settings-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="txForm">
    <div class="row form-group">
      <div class="col-sm-3">
      <label>Tx Power [dBm]</label>
      <select formControlName="txPower" class="form-control">
        <option>20</option>
        <option>23</option>
        <option>30</option>
      </select>
      </div>
      <div class="col-sm-3">
      <label>Frequency [MHz]</label>
      <select formControlName="frequency" class="form-control">
        <option>2400</option>
        <option>2485</option>
        <option>5150</option>
        <option>5350</option>
        <option>5470</option>
        <option>5725</option>
      </select>
      </div>
    <div class="col-sm-3">
        <div class="form-group">
          <label>Propagation Model</label>
          <select formControlName="propagationModel" class="form-control">
            <option>Kamerman</option>
            <option>Motley-Keenan</option>
            <option>One-Slope</option>
          </select>
        </div>
      </div>
    </div>
    <button type = "submit" [disabled]="!txForm.valid" class="btn btn-success">Submit</button>
    <button (click)="resetForm()" class = "btn btn-dark">Reset</button>

  </form>
</div>

