<p class="settings-header">Tx settings</p>
<div class="settings-container">
  <form [formGroup]="txForm">
    <div class="row form-group">
      <div class="col-sm-3">
      <label>Tx Power [dBm]</label>
      <input formControlName="txPower" type="text" class="form-control" placeholder="Tx power">
      </div>
      <div class="col-sm-3">
      <label>Frequency [GHz]</label>
      <input formControlName="frequency" type="text" class="form-control" placeholder="Frequency">
      </div>
      <div class="col-sm-3">
      <div class="form-group">
        <label>Antenna</label>
        <select formControlName="antenna" class="form-control">
          <option>Tx</option>
          <option>Rx</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
          <label>Propagation Model</label>
          <select formControlName="propagationModel" class="form-control">
            <option>Model 1</option>
            <option>Model 2</option>
            <option>Model 3</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>

