@import 'variables';

body {
  background: @background;
}
.settings-header {
  color: tomato;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px;
}

.settings-container {
  padding: 15px;
  background: @background;
  margin: 15px;
}
